.carousel {
    margin-bottom: 4rem;
  }

.carousel-item {
    height: 32rem;
}
.carousel-item  img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.carousel-caption{
    font-family: "Times New Roman";
}


.container-fluid {
    text-align: center;
    width:100%;
    padding:0%;
    margin:0%;
    height:100%;

  }

h2{
    font-family: "Times New Roman";
    font-size:30px;
  }


h3{
    font-family: "Times New Roman";
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;

  }
#action_form{
    font-size: 20px;
    color: black;
  }

h5{
    font-family: "Times New Roman";
    text-align: center;
  }

p{
    font-family: "Times New Roman";
    text-align: center;
  }

h6{
    font-family: "Times New Roman";
    text-align:center;
  }

h7{
   text-align:left;
   font-family: "Times New Roman";
  }
